@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#1D976C,#4CB8C4,#93F9B9);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    color: white;
}
.card{
    height: 400px;
    width: 300px;
    background: #242628;
    border-radius: 10px;
    text-align: center;
}
img{
    object-fit: cover;
    width: 140px;
    height: 150px;
    object-position: center;
}
.card_img{
    width: 120px;
    height: 120px;
    border: 4px solid #1D2B64 ;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
}
.card p{
    color:aqua
}
.social{
    margin:25px 0 ;
}
.social a{
    color: beige;
    margin: 10px 10px;  
    font-size: 20px;
    transition: 0.4s;
}
.card button{
    width: 90px;
    height: 40px;
    border: 1px solid #7AA1D2 ;
    background: transparent;
    color: #E7E9BB;
    border-radius: 10px;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}
.card button:hover{
    background: #003973;
}
.social a:hover{
    color:#603813;
}
